/*
 * Defines common color pallet for use across Newforma Web applications.
 * Author:  Jamie Peloquin <jpeloquin@newforma.com>
 *
 */

$charcoal-grey: #3d464d;
$light-grey: #ededed;
$light-tealish: #e1f6f6;
$lipstick: #d41e31;
$reddish-orange: #fc511f;
$silver-grey: #c5ced0;
$slate: #3e5b63;
$teal-green: #269292;
$tealish-dark: #269292;
$tealish: #33cccc;
$warm-grey: #9b9b9b;
$white: #ffffff;

$defaultFontColor: $charcoal-grey;

html, body, table, th, td, form {
    color: $defaultFontColor;
}

a {
    &[href] {
        color: $tealish-dark;

        &:visited {
            color: $slate;
        }

        &:active, &:hover {
            color: $teal-green;
        }
    }
}
