/*
 * Author:  Jamie Peloquin <jamie@jamiepeloquin.com>
 *
 */

$charcoal-grey: #3d464d;
$light-grey: #ededed;
$light-tealish: #e1f6f6;
$lipstick: #d41e31;
$reddish-orange: #fc511f;
$silver-grey: #c5ced0;
$slate: #3e5b63;
$teal-green: #269292;
$tealish-dark: #269292;
$tealish: #33cccc;
$warm-grey: #9b9b9b;
$white: #ffffff;

$acme-red: #b02226;
$acme-wheat: wheat;

$defaultFontColor: $charcoal-grey;

html, body, table, th, td, form {
    color: $defaultFontColor;
}

a {
    &[href] {
        color: $acme-red;

        &:visited {
            color: darkgray;
        }

        &:active, &:hover {
            color: red;
        }
    }
}
