/**
 * Author:  Jamie Peloquin <jamie@jamiepeloquin.com>
 *
 */

/**
 * Get the Cutive webfont
 * Generated @ https://www.google.com/fonts#UsePlace:use/Collection:Karma
 */
@import url(https://fonts.googleapis.com/css?family=Karma:400,700);

$defaultFontFamily: "Karma", serif;
$defaultFontSize: 18px;
$defaultFontLineHeight: 1.5;

html, body, body * {
    font-family: $defaultFontFamily;
}

html, body, table, th, td, form {
    line-height: $defaultFontLineHeight;
}